<div class="row offset-md-2">
    <div class="background-shade col-11 col-sm-11 col-md-9 mx-3" style="background-color: #EAEEF1" id="second-content">
            <h3 class="this-is-a-heading-in text-center mt-3"><b>This is heading <br> in two line</b></h3>
</div>
</div>
    <div class="row">
        <div class="mytable col-10 offset-1 col-sm-10 offset-sm-1 col-md-6 offset-md-3 shadow-lg"  id="mytable">
                    
            <table class="table text-center table-hover table-sm table-borderless">
                    <thead>
                      <tr >
                            <th></th>
                        <th scope="col" class="lollipop bg-light border-bottom">Lollipop</th>
                        <th scope="col" class="icecandy border-left border-bottom bg-light bg-light">Icecandy</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                            <td class="text-left"><p class="lorem-ipsum-table-data ml-3">Lorem ipsum 1</p></td>
                        <td class="bg-light"> <h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                        <td class="border-left bg-light"><h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                      </tr>
                      <tr>
                            <td class="text-left"><p class="lorem-ipsum-table-data ml-3">Lorem ipsum 2</p></td>
                            <td class="bg-light"> <h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                            <td class="border-left bg-light"><h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                       </tr>
                       <tr>
                            <td class="text-left"><p class="lorem-ipsum-table-data ml-3">Lorem ipsum 3</p></td>
                            <td class="bg-light"> <h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                            <td class="border-left bg-light"><h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                        </tr>
                        <tr>
                            <td class="text-left"><p class="lorem-ipsum-table-data ml-3">Lorem ipsum 4</p></td>
                            <td class="bg-light"> <h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                            <td class="border-left bg-light"><h4 style="color:#FF3F57"><span>&#215;</span></h4></td>
                        </tr>
                        <tr>
                            <td class="text-left"><p class="lorem-ipsum-table-data ml-3">Lorem ipsum 5</p></td>
                            <td class="bg-light"> <h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                            <td class="border-left bg-light"><h4 style="color:#FF3F57"><span>&#215;</span></h4></td>
                        </tr>
                        <tr>
                            <td class="text-left"><p class="lorem-ipsum-table-data ml-3">Lorem ipsum 6</p></td>
                            <td class="bg-light"> <h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                            <td class="border-left bg-light"><h4 style="color:#FF3F57"><span>&#215;</span></h4></td>
                        </tr>
                        <tr>
                            <td class="text-left"><p class="lorem-ipsum-table-data ml-3">Lorem ipsum 7</p></td>
                            <td class="bg-light"> <h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                            <td class="border-left bg-light"><h4 style="color:#FF3F57"><span>&#215;</span></h4></td>
                        </tr>
                        <tr>
                            <td class="text-left"><p class="lorem-ipsum-table-data ml-3">Lorem ipsum 8</p></td>
                            <td class="bg-light"> <h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                            <td class="border-left bg-light"><h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                        </tr>
                        <tr>
                            <td class="text-left"><p class="lorem-ipsum-table-data ml-3">Lorem ipsum 9</p></td>
                            <td class="bg-light"> <h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                            <td class="border-left bg-light"><h4><span style="color:#1DC49F">&#10003;</span></h4></td>
                        </tr> 
                    </tbody>
            </table>
            
    </div>
    </div>