*{
    font-family: aktiv-grotesk, sans-serif;
    box-sizing: border-box;
}
.this-is-a-heading-in {
    color: #31373D;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }
.background-shade {
    position: relative;
    height: 400px;
    top: 10px;
    /* z-index: -100; */
}
.lollipop ,.icecandy{
    color: #31373D;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    opacity: 0.45263671875;
    text-align: center;
  }
#mytable{
    position:relative;
    top:-250px;
    background: white;
}
.lorem-ipsum-table-data{
    color: #31373D;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}
@media only screen and (max-width: 600px) {
    *{
        font-size: 16px;
    }
    .background-shade {
        position: relative;
        height: 400px;
        top: 0px;
        /* z-index: -100; */
    }
    #mytable{
        position:relative;
        top:-250px;
        background: white;
    }

    

}