<div class="row py-4 offset-md-3">
  <div class="col-sm col-md-4 justify-content-right py-5 pl-5 order-md-last">
    <img class="img-fluid w-80" src="assets/pheti.png" alt="Product Image" id="pheti">
</div>
  <div class="col-sm col-md-4 p-5 my-5 order-md-first">
      <h2 id="loved-by-users">Loved by users,<br>recommended by experts</h2>
      <p id="loved-by-users-next">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <button class="btn btn-lg btn-primary px-5">Primary CTA</button>
  </div>
  
</div>