<div class="row pt-5">
    <div class="here-is-what col-12 col-sm-12 col-md-6 offset-md-3 text-center">
        <h2><b>Here's what our customers have to say</b></h2>
    </div>
</div>
<div class="row py-5 offset-md-3">
    <!--HTML Code-->
<!-- Slideshow Container Div -->
    <div class="col-12 col-sm col-md-8">
        <div class="row">
            <div class="col-sm col-md-4">
                <img src="../../assets/cimage.png" class="img-fluid" alt="Reviewer Profile" id="cimage">
            </div>
            <div class="col-sm-1 col-md-1">
                    <blockquote></blockquote>
            </div>

            <div class="col-sm col-md-6">
                            <p id="reviewtext">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                <br><br>
                <p class="raja-ram"><b>Raja Ram</b></p>
                <p class="tip-world">Tip World</p>
                            </div>
        </div>
    </div>
    

            
            <!-- The dots/circles -->
           

    
</div>
<div style="text-align:center"> 
    <span class="dot active"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
    </div> 
<!-- End Of Carousals -->
