*{ 
    font-family: aktiv-grotesk, sans-serif;
    box-sizing: border-box;
} 
.here-is-what{
        color: #31373D;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        text-align: center;
}
.raja-ram {
    color: #31373D;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
  }
  .tip-world {
    color: #31373D;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
  }
.image-sliderfade { 
    display: none; 
} 
.dot 
{ 
    height: 15px; 
    width: 15px; 
    margin: 0 2px; 
    background-color: #EAEEF1;
    border:0.1px solid white;
    border-radius: 50%; 
    display: inline-block; 
    transition: border-color 0.6s ease; 
} 
.dot :hover{
    cursor: pointer;
}
.active{
    border: 0.1px solid #0099FF;
    background: #0099FF; 
}
@media only screen and (max-width: 600px) {
      *{
          font-size: 16px;
      }
  
  }
