<div class="row py-5" id="first-content">
  <div class="globe-image col-sm col-md-3 order-md-last">
    <img src="../../assets/globe.png" class="img-fluid" id="globeimg">
</div>
  <div class="py-5 col-sm col-md-4 pt-md-5 offset-md-3 order-md-first">
      <div class="row">
        <div class="col"></div>
      </div>
      <h1 id="looking-for-a-lollip"><b>Looking For a <br> lollipop alternative?</b></h1>
      <p class="looking-for-a-lollip-next">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      <button class="btn btn-primary m-1 p-2 btn-lg px-2" style=" color: #FFFFFF;font-size: 16px;font-weight: 700;line-height: 19px;text-align:center;width: 211px;" >Primary CTA</button>
      <button type="button" class="btn btn-lg m-1 p-2 px-2 btn-outline-primary" style="  color: #31373D;font-size: 16px;font-weight: 700;line-height: 19px;width: 211px;text-align: center;">Secondary CTA</button>
  </div>
  
</div> 